@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-components.css";
@import "components/badge.css";
@import "components/point.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.5;
}
.main-screen {
  padding: var(--horizontal-space);
}

/* body {
  height: 500vh;
} */
