.main-music-play-all {
  padding: 18px 50px;
}

.main-music-play__time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main-music-play__time span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.main-music-play__bar {
  position: relative;
  margin-bottom: 80px;
}

.main-music-play-box {
  position: absolute;
  width: 60%;
  height: 4px;
  background-color: #222;
}

.main-music-play-box2 {
  height: 4px;
  background-color: rgb(190, 190, 190);
}

.main-music-play-circle {
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: black;
  border-radius: 50%;
  top: -3.5px;
  left: 58%;
}

.music-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-icon i:first-child,
.music-icon i:last-child {
  opacity: 0.5;
}

.music-icon span {
  width: 70px;
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.3);
}

.music-icon span i {
  color: white;
  opacity: 1 !important;
}
