#chat-screen {
  background-color: #abc1d1;
  height: 100vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 13px 18px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 23px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  object-fit: cover;
  margin-right: 10px;
}

.message__author {
  opacity: 0.5;
  margin-bottom: 8px;
  display: block;
}
/* span은 인라인 요소니까 마진 바텀이 적용이 되지 않아서 블럭요소로 바꿔준다 */

.message__bubble {
  background-color: white;
  padding: 13px;
  font-size: 17px;
  border-radius: 18px;
  margin-right: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.5;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  margin-right: 0px;
  margin-left: 5px;
}

/* .message-row--own .message__bubble {
  order: 1;
}
.message-row--own .message__time {
  order: 0;
} 
위처럼 바꿀 수도, 밑에처럼 바꿀 수도 있음*/

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}

.reply input {
  padding: 12px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.reply__column:last-child > i {
  right: 50px;
  top: 12px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply i {
  opacity: 0.7;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.5s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 98vw;
  transform: translateX(-13%);
}
