* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#all-box {
  width: 330px;
  height: 700px;
  border: 5px solid #00c6ad;
}

#all-box-2 {
  margin: 40px 30px;
}

.status-bar {
  display: flex;
  justify-content: center;
  margin: 0px 0px 30px;
}

.status-bar__column {
  width: 50%;
}

.status-bar__column:first-child {
  display: flex;
  align-items: center;
}

.status-bar__column:nth-child(2) {
  margin-right: 50px;
}
/* 상단바 -  */

header {
  display: flex;
  justify-content: center;
}

.header-first {
  width: 50%;
}

.header-first:first-child {
  width: 100px;
  height: 100px;
  background-color: #ffbd11;
  color: #fff;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 20px;
}

.nav-bar {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.nav-bar__column:first-child {
  width: 120px;
  height: 50px;
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  line-height: 50px;
  border-bottom-width: 0.8ex;
}

.nav-bar__column:first-child i {
  margin-right: 5px;
}

.nav-bar__column:nth-child(2),
.nav-bar__column:nth-child(3) {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  border-bottom-width: 0.8ex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-main {
  margin-top: 40px;
}

.color-main_tomato {
  display: flex;
  align-items: center;
}
.color-main_tomato_icon {
  width: 50px;
  height: 50px;
  background-color: tomato;
  border: 2px solid black;
  border-radius: 10%;
}

.color-main_tomato_text {
  margin-left: 20px;
}
.color-main_pink {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.color-main_pink_icon {
  width: 50px;
  height: 50px;
  background-color: #ff89bb;
  border: 2px solid black;
  border-radius: 10%;
}

.color-main_pink_text {
  margin-left: 20px;
}
.color-main_blue {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.color-main_blue_icon {
  width: 50px;
  height: 50px;
  background-color: #1847e5;
  border: 2px solid black;
  border-radius: 10%;
}

.color-main_blue_text {
  margin-left: 20px;
}
.color-main_green {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.color-main_green_icon {
  width: 50px;
  height: 50px;
  background-color: #00c6ad;
  border: 2px solid black;
  border-radius: 10%;
}

.color-main_green_text {
  margin-left: 20px;
}
