@import "reset.css";

/* component */
@import "component/screen-header.css";
@import "component/main-title.css";
@import "component/main-ablum.css";
@import "component/control-box.css";
/* header icons */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffe0e0;
}
#first-page {
  width: 370px;
  background-color: white;
  border-radius: 20px;
}

#second-page {
  width: 370px;
  background-color: white;
  border-radius: 20px;
}
