.point {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 23px;
  bottom: 20px;
}

.point-2 {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 32px;
  bottom: 30px;
}
.more-icon {
  position: relative;
}

.point-3 {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  transform: translate(25px, -2px);
}
